
/EssenceBlog.sln - Shortcut.lnk
/Src/_ReSharper.EssenceBlog
/Src/EssenceBlog.WebApp/App_Data/Logs/*.*
bin
obj
*.suo
*.user
/BuildAndDeployToProduction.cmd
/EssenceBlogBlog.build
/Lib/Imm.NAnt