@using Nancy.ViewEngines.Razor
@using EssenceBlog.WebApp.Core.ViewModels
@inherits NancyRazorViewBase<PostViewModel>

@{
  Layout = "Views/Common/Layout.cshtml";
}

<article class="post">
  <h1>
    <a href="#">
      @Model.PostTitle
    </a>
  </h1>

  @Html.Raw(Model.PostBodyHtml)
</article>
