<!DOCTYPE html>
<html>
<head>
  <title>EssenceBlog</title>
  <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
  <link href="/Content/theme.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    @RenderBody()
  </body>
</html>
